<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/adminCreateSurvey.css" />
    <link rel="stylesheet" href="/css/includeCss/adminHeader.css" />
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            //질문 타입 바꾸기 
            $(".select-question-type").on('change', changeQuestion);
        });

        function changeQuestion() {
            //alert("눌렀어요");
            const type = $(this).val();
            //alert(type);

            if (type == "주관식") {
                $(".change-spot").html("");
                let essayQuestion = '<div class="essay-question-box">';


                essayQuestion += '<div class="question-title">';
                essayQuestion += '<textarea class="question-text" placeholder="질문 입력"></textarea>';
                essayQuestion += '</div>';
                essayQuestion += '<div class="essay-answer">';
                essayQuestion += '<div class="answer-box">';
                essayQuestion += '<div class="box-text">참여자 답변 입력란</div>';
                essayQuestion += '</div>';
                essayQuestion += '</div>';
                essayQuestion += '</div>';

                $(".change-spot").html(essayQuestion);
            }

        }

    </script>
</head>

<body>
    <div class="sub-page-admin-user">
        <div class="div">

            <!-- include student Header-->
            <%- include('./include/adminHeader') %>
                <!-- /include student Header-->


                <!-- middle-->
                <div class="title-text">설문지 생성</div>

                <!-- survey information box-->
                <form action="">
                    <div class="survey-infomation">
                        <div class="survey-title">
                            <textarea class="survey-title-text" placeholder="설문 제목 입력"></textarea>
                        </div>
                        <div class="survey-explanation">
                            <textarea class="explanation-text" placeholder="설문 설명 입력"></textarea>
                        </div>
                    </div>

                    <!-- <div class="add-question-button">
                        <input type="button" class="add-question-btn" id="addBtn" value="질문 추가하기">
                    </div> -->

                    <div class="multiple-choice">
                        <div class="quesstion-num">1.</div>

                        <!-- select question type dropbox-->
                        <div class="change-question-type">
                            <select name="" id="" class="select-question-type">
                                <option class="select-type multi" selected>객관식</option>
                                <option class="select-type essay">주관식</option>
                                <option class="select-type satisfaction">만족도선택</option>
                            </select>
                        </div>
                        <!-- end of dropbox-->
                        <div class="change-spot">
                            <!-- question box-->
                            <div class="question-title">
                                <textarea class="question-text" placeholder="질문 입력"></textarea>
                            </div>

                            <!-- write multiple choice-->
                            <div class="multiple-choice-box">
                                <div class="choice-num">1.</div>
                                <input type="text" class="choice-text" placeholder="항목 1">
                            </div>
                            <div class="multiple-choice-box">
                                <div class="choice-num">2.</div>
                                <input type="text" class="choice-text" placeholder="항목 2">
                            </div>
                            <!-- end of multiple choice-->

                            <!-- add choice button-->
                            <div class="add-choice-button">
                                <input type="button" class="add-btn" value="항목 추가하기">
                            </div>
                        </div><!-- end of change-spot-->

                        <!-- add question button-->
                        <div class="add-question-button2">
                            <input type="button" class="add-btn" value="질문 추가하기">
                        </div>




                    </div> <!-- end of multiple choice box-->

                </form>
                <!-- end of survey information box-->




                <!-- end of middle-->

                <!-- footer-->
                <div class="footer"></div>
                <!-- end of footer-->
        </div>
    </div>
</body>

</html>