@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Abhaya Libre ExtraBold-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/612cee6e7d4dd4a7d49e33de/fonts/abhayalibre-extrabold.ttf") format("truetype");
}

.sub-page-admin-user {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sub-page-admin-user .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}



.sub-page-admin-user .page-title {
  top: 186px;
  left: 428px;
  font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  color: #116a7b;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/** student name card **/

.sub-page-admin-user .student-name-card-lf {
  position: relative;
  width: 339px;
  height: 110px;
  left: 468px;
  bottom: 146px;
  margin-bottom: 66px;
}

.sub-page-admin-user .student-name-card-rt {
  bottom: 675px;
  margin-bottom: 66px;
  left: 944px;
  position: relative;
  width: 339px;
  height: 110px;
}

.sub-page-admin-user .card-wrapper {
  position: relative;
  width: 337px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #6a6a6a66;
  box-shadow: 0px 4px 4px #00000040;
}

.sub-page-admin-user .sub-page {
  width: 337px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #6a6a6a66;
  box-shadow: 0px 4px 4px #00000040;
}

.card2 {
  position: absolute;
  top: 276px;
  padding-left: 30px;
  font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
}

.info {
  padding-bottom: 26px;
}

.info2 {
  position: relative;
  top: -31px;
  left: 124px;
  text-align: right;
}

.img {
  position: absolute;
  top: -239px;
  left: 64px;
  width: 200px;
  height: 200px;
}


.sub-page-admin-user .name-card {
  position: relative;
  top: 36px;
  left: 79px;
  font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


/**footer**/
.sub-page-admin-user .footer {
  position: absolute;
  width: 1440px;
  height: 150px;
  top: 874px;
  left: 0;
  background-color: #116a7b;
}