@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Abhaya Libre ExtraBold-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/612cee6e7d4dd4a7d49e33de/fonts/abhayalibre-extrabold.ttf") format("truetype");
}

.sub-page-student {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sub-page-student .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}


.sub-page-student .header-BG {
  position: absolute;
  width: 1471px;
  height: 110px;
  top: 0;
  left: -31px;
  background-color: #c2dedc;
}

.sub-page-student .survey-system {
  position: absolute;
  top: 13px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #116a7b;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.commonBtn {
  background-color: #ece5c7;
  border-color: #ece5c7;
  border-radius: 25px;
  font-family: "Roboto", Helvetica;
  font-weight: bold;
  color: #116a7b;
  font-size: 15px;
  text-align: center;
  margin-left: 8px;
}

.btn-wrapper {
  position: relative;
  width: 87px;
  height: 35px;
  top: 28px;
  left: 1300px;
}

/**menu bar **/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;

}

.sub-page-student .side-menu {
  display: inline-block;
  height: 96px;
  top: 109px;
  right: 0px;
  background-color: #eee7dccc;
  box-shadow: 0px 2px 4px #00000040;
  position: relative;
  margin: 3px;
  width: 298px;
}

.side-menu-wrapper {
  height: 764px;
  top: 110px;
  left: 0px;
  background-color: #e4e4d080;
  position: absolute;
  width: 298px;
}

/**end of menu bar**/


/**middle**/
.sub-page-student .page-title {
  top: 192px;
  left: 436px;
  font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
  font-weight: 400;
  color: #116a7b;
  font-size: 40px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.sub-page-student .check-password {
  width: 473px;
  height: 74px;
  top: 225px;
  left: 504px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 30px;
  position: relative;
  padding-left: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #e5e1da;

}

.sub-page-student .submit-button {
  position: absolute;
  width: 152px;
  height: 83px;
  top: 424px;
  left: 1131px;
  background-color: #c2dedc;
  border-radius: 10px;
  border-color: #c2dedc;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #116a7b;
  font-size: 30px;
  text-align: center;
}

.sub-page-student .footer {
  position: absolute;
  width: 1440px;
  height: 150px;
  top: 874px;
  left: 0;
  background-color: #116a7b;
}