<!-- all student common page -->
<!--header-->
<div class="header-BG">
    <div class="survey-system">
        Survey <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        System
    </div>
    <% if (isLoggedIn) { %>
        <button class="commonBtn btn-wrapper"><a href="/auth/logout">로그아웃</a></button>
        <% } %>

</div>
<!-- end of header-->


<!-- menu bar-->
<ul>
    <li class="side-menu-wrapper"></li>
    <li><a href="" class="side-menu">개인정보 수정</a></li>
    <li><a href="" class="side-menu">설문 확인</a></li>
</ul>
<!-- end of menu bar-->

<!-- end of all student common page -->